<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="../css/popup.css" />
</head>

<body>
  <div>
    <strong>Enable</strong>

    <div id="enableButton">
      <label class="switch" id="single">
        <input id="buttonToggle" type="checkbox">
        <span class="slider round"></span>
      </label>
    </div>
  </div>

  <hr />
  <div class="lang-div">
    <strong>Language</strong>
    <input list="langs" id="langInput">
    <datalist id="langs">

    </datalist>
  </div>
  <hr />
  <div class="slidecontainer">

    <div id="leftHash">
      Easy
    </div>
    <div id="rightHash">
      Hard
    </div>

    <input type="range" min="1" max="3" value="1" step="1" list="hashes" class="rangeSlider" id="dSlider">
    <datalist id="hashes">
      <option value=1 />
      <option value=2 />
      <option value=3 />
    </datalist>
  </div>




</body>
<script src="../javascript/popup.js"></script>

</html>
